@media only screen and (max-width: 1200px) 
{
    #linkovi, #strelica_1, #strelica_2, #strelica_3, #contact_lijeva, #kutija_slika, #kutija_vjerovanje, #kutija_poslanici, #kutija_poslanici, #kutija_vodic, #informacija, #kutija_info, #contact_sehara, #contact_desna, #meni {
      display: none;
    }

    #mali_logo {
        position: absolute;
        width: 25%;
        margin-left: 5px;
        height: 30px;
        border: solid 0px black;
    
        padding-left: 6%;
        padding-top: 13px;
    }

    #hamburger {
        position: absolute;
        width: 25%;
        margin-left: 70%;
        height: 30px;
        border: solid 0px black;
    
        padding-right: 6%;
        padding-top: 13px; 
        text-align: right;
    }

    #logo_slika {
        position: absolute;
        width: 38%;
        max-width: 38%;
        max-width: 237px;
        max-height: 38%;
        top: 19%;
        left: 30%;  
    }

    #citat {
        position: absolute;
        width: 96%;
        height: 7%;
        top: 50%;
        left: 2%;
        color: black;
        border: solid 0px black;
        text-align: center;
        font-size: 15px;
        font-style: italic;
    
    }

    .sekcije {
        position: unset;
        width: 100%;
        height: 100vh;
  /*      min-height: 400px;   */
        border: solid 0px black; 
        margin: 0px 0px 0px 0px;
    }

    #contact {
        position: unset;
        width: 100%;
        height: 0vh;
        border: solid 0px black; 
        margin: 0px 0px 0px 0px;
    }

    #lungs {
        position: unset;
        width: 100%;
        height: 0vh;
        border: solid 0px black; 
        margin: 0px 0px 0px 0px;
    }

    #subheading {
        position: unset;
        width: 100%;
        height: 0vh;
        border: solid 0px black; 
        margin: 0px 0px 0px 0px;
    }

/*    #kutija_slika {
         position: absolute;
        border: solid 1px black;
        width: 84%;
        height: 30%;
        top: 53%;
        left: 8%;
    
        background-image: url("images/quran.jpg");
        background-position:center;
        background-repeat:no-repeat;
        background-size:cover;
    } */


    .kutije {
        position: absolute;
        border: solid 0px gray;
     /*   background-color: hsla(44, 100%, 10%, 0);  */
    /*    padding: 10px 25px 20px 25px; */
        color: rgb(51, 51, 51);
        overflow:hidden;
    }

    .kutije p {
        margin: 22px 19px 17px 19px;
    }

    #contact_lijeva {
        position: absolute;
        width: 40%;
        height: 70%;
    
        top: 15%;
        left: 10%;
        border: solid 0px black;
    /*    background-color: rgba(128, 128, 128); */
        color: rgb(246,245,242);
        font-family: "Varela Round", sans-serif;
        font-size: 14px;
        z-index: 1;
    }

    /* #kutija_info {
        background-color: hsla(43, 100%, 10%, 0);
        width: 96%;
        height: 35%;
        top: 56%;
        left: 2%;
        border-top: solid 1px gray;
    } */

    /* #kutija_vjerovanje {
        width: 84%;
        height: 35%;
        top: 122%;
        left: 8%;
    }

    #kutija_poslanici {
        width: 84%;
        height: 35%;
        top: 159%;
        left: 8%;
    }

    #kutija_vodic {
        width: 84%;
        height: 35%;
        top: 196%;
        right: 8%;
    }

    #informacija {
        width: 84%;
        height: 75%;
        top: 233%;
        left: 8%;
    } */


    /* #contact_sehara {
        width: 96%;
        height: 42%;
        top: 46%;
        left: 2%;
    }

    
    
    #contact_desna {

        width: 100%;
        height: 100%;
    
        top: 0%;
        left: 0;
        border: solid 0px black;

    
        color: rgb(51, 51, 51);
        overflow:hidden;
    
        font-size: 14px;
        z-index: 1;
        color: rgba(128, 128, 128); 
    } */

    h2 {
        font-size: 12px;
    }

    

    #footer {
        position: absolute;
        bottom: 0%;
        padding: 5px 0px 0px 0px;
    
        width: 100%;
        height: 45px;
       /*  top: 89%; */
    
        text-align: center;
    
        border: solid 0px black;
        border-top: solid 1px gray;
    
        font-family: "Varela Round", sans-serif;
        font-size: 11px;
    
        background-color: hsla(43, 100%, 10%, 0.05);  
    }

    input[type="text"]{
        width: 80%;
        left: 10%;
        border: solid 1px rgb(51, 51, 51);
        margin: 1px 0px 5px 10%;
        padding: 5px;
    }

  #footer a {
        font-size: 11px;
    }

    #vodic_vrh {
        position: absolute;
        top: 80px;
        width: 100%;
        height: 60px;
        border: solid 1px black;
        
        float: left;
    }

}



/* ISPOD PISEMO MEDIJU ZA REZOLUCIJU IZMEDJU 600px DO 992px */
/* ISPOD PISEMO MEDIJU ZA REZOLUCIJU IZMEDJU 600PX DO 992px */
/* ISPOD PISEMO MEDIJU ZA REZOLUCIJU IZMEDJU 600PX DO 992px */
/* ISPOD PISEMO MEDIJU ZA REZOLUCIJU IZMEDJU 600PX DO 992px */
/* PROMJENJEN (SMANJEN JE %) LOGOTIPA, POVECANA SU SLOVA CITATA */

