@import url("https://fonts.googleapis.com/css?family=Varela+Round"); 
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;700&display=swap');


body {
 /*   background-color: rgba(238, 238, 238, 0.91) !important; */

    background-image: url('images/pozadina_2.jpg');
    background-position:center;
    background-repeat:repeat;
    
    background-blend-mode: color;

    font-family: "Varela Round", sans-serif; 
   /* font-family: "Avenir Next", "Avenir", sans-serif; */
    scroll-behavior: smooth;
    margin: 0 0 0 0;
    padding: 0;

    animation: fadeIn ease 2s;
-webkit-animation: fadeIn ease 2s;
-moz-animation: fadeIn ease 2s;
-o-animation: fadeIn ease 2s;
-ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }

html {
    scroll-behavior: smooth;
    
}

.sekcije {
    position: relative;
    width: 100%;
    height: 100vh;
    border: solid 0px black; 
    margin: 0px 0px 0px 0px;
}

#meni {
    position: fixed;
    width: 100%;
    height: 35px;
    margin-top: 0px;
    border: solid 0px black; 
 /*   background-color: hsla(43, 100%, 10%, 0.05); */
    z-index: 1;

    
     background-image: url('images/pozadina_2.jpg');
     background-position:center;
     background-repeat:repeat;
 }

#mali_logo {
    position: absolute;
    width: 20%;
    margin-left: 0px;
    height: 30px;
    border: solid 0px black;

    padding-left: 1.5%;
    padding-top: 13px;
}

#linkovi {
    position: absolute;
    width: 60%;
    margin-left: 20%;
    height: 30px; 
    border: solid 0px black;

    color: brown;
    word-spacing: 55px;
    padding-top: 13px;
    
    text-align: center;
}

a:link {
    color: rgb(51, 51, 51);
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    text-decoration: none;

    transition: color 0.1s linear;
    -webkit-transition: color 0.22s linear;
    -moz-transition: color 0.1s linear;
}


a:visited {
    color: rgb(51, 51, 51);
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
}

a:hover {
    color: rgb(143, 142, 142);

}

a:active {
    color: rgb(133, 133, 133);
}

#hamburger {
    position: absolute;
    width: 19%;
    margin-left: 80%;
    height: 30px;
    border: solid 0px black;

    padding-right: 1%;
    padding-top: 13px; 
    text-align: right;
}

#logo_slika {
    position: absolute;
    width: 21%;
    top: 30%;
    left: 40%;  
}

#citat {
    position: absolute;
    width: 100%;
    height: 7%;
    top: 60%;
    left: 0px;
    color: black;
    border: solid 0px black;
    text-align: center;
    font-size: 15px;
    font-style: italic;

}


#form {
    text-align: center;
}

#strelica_1 {
    position: absolute;
    width: 100%;
    top: 93%;
    left: 0;
    border: solid 0px black;
    text-align: center;
}

#strelica_dole_1 {
    position: relative;


    border: solid 0px black;
    width: 30px;
    height: 30px;


    animation: bounce 2s infinite running;
}

#strelica_dole_1:hover {
    animation-play-state: paused;
}

@keyframes bounce {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1) translateY(-20px); }
    50%  { transform: scale(1,1)    translateY(0); }
    57%  { transform: scale(1,1)    translateY(-7px); }
    64%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}

