@import url("https://fonts.googleapis.com/css?family=Varela+Round"); 
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;700&display=swap');


body {
 /*   background-color: rgba(238, 238, 238, 0.91) !important; */

    background-image: url('images/pozadina_2.jpg');
    background-position:center;
    background-repeat:repeat;
    
    background-blend-mode: color;

    font-family: "Varela Round", sans-serif; 
   /* font-family: "Avenir Next", "Avenir", sans-serif; */
    scroll-behavior: smooth;
    margin: 0 0 0 0;
    padding: 0;

    animation: fadeIn ease 2s;
-webkit-animation: fadeIn ease 2s;
-moz-animation: fadeIn ease 2s;
-o-animation: fadeIn ease 2s;
-ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }

html {
    scroll-behavior: smooth;
    
}

.sekcije {
    position: relative;
    width: 100%;
    height: 100vh;
    border: solid 0px black; 
    margin: 0px 0px 0px 0px;
}

#meni {
    position: fixed;
    width: 100%;
    height: 35px;
    margin-top: 0px;
    border: solid 0px black; 
 /*   background-color: hsla(43, 100%, 10%, 0.05); */
    z-index: 1;

    
     background-image: url('images/pozadina_2.jpg');
     background-position:center;
     background-repeat:repeat;
 }

#mali_logo {
    position: absolute;
    width: 20%;
    margin-left: 0px;
    height: 30px;
    border: solid 0px black;

    padding-left: 1.5%;
    padding-top: 13px;
}

#linkovi {
    position: absolute;
    width: 60%;
    margin-left: 20%;
    height: 30px; 
    border: solid 0px black;

    color: brown;
    word-spacing: 55px;
    padding-top: 13px;
    
    text-align: center;
}

a:link {
    color: rgb(51, 51, 51);
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    text-decoration: none;

    transition: color 0.1s linear;
    -webkit-transition: color 0.22s linear;
    -moz-transition: color 0.1s linear;
}


a:visited {
    color: rgb(51, 51, 51);
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
}

a:hover {
    color: rgb(143, 142, 142);

}

a:active {
    color: rgb(133, 133, 133);
}

#hamburger {
    position: absolute;
    width: 19%;
    margin-left: 80%;
    height: 30px;
    border: solid 0px black;

    padding-right: 1%;
    padding-top: 13px; 
    text-align: right;
}

#logo_slika {
    position: absolute;
    width: 21%;
    top: 30%;
    left: 40%;  
}

#citat {
    position: absolute;
    width: 100%;
    height: 7%;
    top: 60%;
    left: 0px;
    color: black;
    border: solid 0px black;
    text-align: center;
    font-size: 15px;
    font-style: italic;

}


#form {
    text-align: center;
}

#strelica_1 {
    position: absolute;
    width: 100%;
    top: 93%;
    left: 0;
    border: solid 0px black;
    text-align: center;
}

#strelica_dole_1 {
    position: relative;


    border: solid 0px black;
    width: 30px;
    height: 30px;


    animation: bounce 2s infinite running;
}

#strelica_dole_1:hover {
    animation-play-state: paused;
}

@keyframes bounce {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1) translateY(-20px); }
    50%  { transform: scale(1,1)    translateY(0); }
    57%  { transform: scale(1,1)    translateY(-7px); }
    64%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}


/* NAV MENI ISPOD */

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f4;
  }
  
  a {
    color: #000;
  }
  
  /* header */
  
  .header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 768px) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }
  